// width values:
$max_width: 1920px;
$wrapper_width: 1143px;
$content_width: 983px;
$contacts_list_width: 1060px;

$contact_item_width: $contacts_list_width / 5;

// color values:
$main_background: #23262c;
$primary_grey: #cbced4;
$secondary_grey: #919396;
$contacts_disabled: #919396;
$contacts_active_title: #fff;
$contacts_active_text: #bbbbbb;
$send_button_red: #e04241;
$send_button_text: #fff;
$download_link: $send_button_red;
$download_link_active: #fff;
//$download_icon_border: #32343b;
$language_link: #363a42;
$language_link_active: $primary_grey;
$copyright: $primary_grey;

$circle_link: #32343a;
$circle_link_active: #2b2e33;

// import reset and helper styles stylesheets

@import 'reset';
@import 'main';

// import fonts (PT Sans)

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic);

@mixin link_animation ($duration: 0.2s){
	-webkit-transition: all $duration linear;
	transition: all $duration linear;
}

/* ==========================================================================
   Main styles
   ========================================================================== */

body {
	background-color: $main_background;
	font-family: 'PT Sans', sans-serif;
	color: $primary_grey;
}

h1, p, a {
	color: $primary_grey;
}

p {
	font-size: 18px;
	letter-spacing: 1px;
}

a {
	text-decoration: none;
}

/* ==========================================================================
   Header styles
   ========================================================================== */

header {
	min-width: $content_width;
	max-width: $max_width;
	padding: 47px 0px;

	div.logo-digius {
		float: left;

		img {
			display: block;
			width: 104px;
			height: 21px;
			margin-left: 40px;
		}
	}
}

ul.select-lang {
	float: right;
	margin-right: 40px;
	li {
		display: inline-block;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: bold;
		a {
			display: inline-block;
			color: $language_link;
			margin-left: 31px;

			@include link_animation;
			
			&:link, &:visited {
				color: $language_link;

				@include link_animation;
			}
			&:hover, &:active {
				color: $language_link_active;

				@include link_animation;
			}
		}

		&.active a {
			color: $language_link_active;

			@include link_animation;
		}
	}
}

/* ==========================================================================
   Main section styles
   ========================================================================== */

.main-content, footer {
	margin: 0 auto;
	width: $content_width;
}

.main-content {
	text-align: center;

	h1 {
		margin-top: 116px;
		text-transform: uppercase;
		font-size: 2em;
		letter-spacing: 0.203125em;
		font-weight: bold;
	}

	> p {
		margin-top: 35px;
		color: $secondary_grey;
	}

	.send-request-button {
		box-sizing: border-box;
		width: 236px;
		height: 51px;
		margin: 0 auto;
		margin-top: 17px;
		a {
			text-align: center;
			display: table-cell;
			width: 236px - 2;
			height: 51px - 2;
			vertical-align: middle;
			text-align: center;
			background-color: $send_button_red;
			color: $send_button_text;
			text-transform: uppercase;
			font-size: 15px;
			font-weight: bold;
			letter-spacing: 2px;

			border: 1px solid $send_button_red;

			@include link_animation(0.15s);

			&:hover {
				background-color: transparent;
				color: $send_button_red;
				@include link_animation(0.15s);
			}
		}
	}

	.download-link {
		margin: 0 auto;
		margin-top: 69px;
		margin-bottom: 166px;
		width: 33%;


		a {

			&:hover {
				.download-icon {
					border-color: $circle_link_active;
					@include link_animation(0.15s);

					img {
						opacity: 0.7;
						@include link_animation(0.15s);
					}
				}
				p, p span {
					color: $download_link_active;
					@include link_animation(0.15s);
				}
			}
		}

		p {
			color: $download_link;
			margin-top: 19px;
			@include link_animation(0.15s);

			span {
				padding-bottom: 5px;
				border-bottom: 1px solid;
			}
		}
	}

	.download-icon {
		box-sizing: border-box;
		width: 97px;
		height: 97px;
		margin: 0 auto;
		border: 4px solid $circle_link;
		border-radius: 50%;
		text-align: center;
		@include link_animation(0.15s);
		
		img {
			display: inline-block;
			width: 39px;
			height: 47px;
			margin-top: 24px;
			opacity: 1;

			@include link_animation(0.15s);
		}
	}
}

/* ==========================================================================
   Footer styles
   ========================================================================== */

// Preload icons
body:after{
    display:none;
    content: url(../img/map.png) url(../img/phone.png) url(../img/map-active.png) url(../img/phone-active.png);
}

footer {
	.contacts-list {
		width: $contacts_list_width;
		margin: 0 auto;
		
		.contacts-item {
			box-sizing: border-box;
			width: $contact_item_width;
			float: left;
			cursor: pointer;
			
			h3, p {
				color: $contacts_disabled;
				@include link_animation;
			}

			&.active h3, &:hover h3 {
				color: $contacts_active_title;
				@include link_animation;
			}

			&.active p, &:hover p {
				color: $contacts_active_text;
				@include link_animation;
			}

			&:hover p:nth-of-type(1) {
				background-image: url(../img/map-active.png);
				@include link_animation;
			}

			&:hover p:nth-of-type(2) {
				background-image: url(../img/phone-active.png);
				@include link_animation;
			}

			h3 {
				font-size: 18px;
				font-weight: bold;
				letter-spacing: 2px;
				margin-bottom: 16px;
			}

			p {
				font-family: Arial, sans-serif;
				font-size: 0.825em;
				letter-spacing: 0.05em;
				line-height: 1;
				margin-bottom: 16px;
				padding-left: 18px;
				background-repeat: no-repeat;
				background-position-y: 0px;
				padding-top: 5px;
			}

			p:nth-of-type(1) {
				background-image: url(../img/map.png);
				@include link_animation;
			}

			p:nth-of-type(2) {
				background-image: url(../img/phone.png);
				@include link_animation;
			}
		}
	}

	.copyright {
		margin-top: 40px;
		margin-bottom: 30px;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 16px;
		letter-spacing: 3px;
	}
}