/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Main styles
   ========================================================================== */
body {
  background-color: #23262c;
  font-family: 'PT Sans', sans-serif;
  color: #cbced4; }

h1, p, a {
  color: #cbced4; }

p {
  font-size: 18px;
  letter-spacing: 1px; }

a {
  text-decoration: none; }

/* ==========================================================================
   Header styles
   ========================================================================== */
header {
  min-width: 983px;
  max-width: 1920px;
  padding: 47px 0px; }
  header div.logo-digius {
    float: left; }
    header div.logo-digius img {
      display: block;
      width: 104px;
      height: 21px;
      margin-left: 40px; }

ul.select-lang {
  float: right;
  margin-right: 40px; }
  ul.select-lang li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold; }
    ul.select-lang li a {
      display: inline-block;
      color: #363a42;
      margin-left: 31px;
      -webkit-transition: all 0.2s linear;
      transition: all 0.2s linear; }
      ul.select-lang li a:link, ul.select-lang li a:visited {
        color: #363a42;
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear; }
      ul.select-lang li a:hover, ul.select-lang li a:active {
        color: #cbced4;
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear; }
    ul.select-lang li.active a {
      color: #cbced4;
      -webkit-transition: all 0.2s linear;
      transition: all 0.2s linear; }

/* ==========================================================================
   Main section styles
   ========================================================================== */
.main-content, footer {
  margin: 0 auto;
  width: 983px; }

.main-content {
  text-align: center; }
  .main-content h1 {
    margin-top: 116px;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 0.203125em;
    font-weight: bold; }
  .main-content > p {
    margin-top: 35px;
    color: #919396; }
  .main-content .send-request-button {
    box-sizing: border-box;
    width: 236px;
    height: 51px;
    margin: 0 auto;
    margin-top: 17px; }
    .main-content .send-request-button a {
      text-align: center;
      display: table-cell;
      width: 234px;
      height: 49px;
      vertical-align: middle;
      text-align: center;
      background-color: #e04241;
      color: white;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: bold;
      letter-spacing: 2px;
      border: 1px solid #e04241;
      -webkit-transition: all 0.15s linear;
      transition: all 0.15s linear; }
      .main-content .send-request-button a:hover {
        background-color: transparent;
        color: #e04241;
        -webkit-transition: all 0.15s linear;
        transition: all 0.15s linear; }
  .main-content .download-link {
    margin: 0 auto;
    margin-top: 69px;
    margin-bottom: 166px;
    width: 33%; }
    .main-content .download-link a:hover .download-icon {
      border-color: #2b2e33;
      -webkit-transition: all 0.15s linear;
      transition: all 0.15s linear; }
      .main-content .download-link a:hover .download-icon img {
        opacity: 0.7;
        -webkit-transition: all 0.15s linear;
        transition: all 0.15s linear; }
    .main-content .download-link a:hover p, .main-content .download-link a:hover p span {
      color: white;
      -webkit-transition: all 0.15s linear;
      transition: all 0.15s linear; }
    .main-content .download-link p {
      color: #e04241;
      margin-top: 19px;
      -webkit-transition: all 0.15s linear;
      transition: all 0.15s linear; }
      .main-content .download-link p span {
        padding-bottom: 5px;
        border-bottom: 1px solid; }
  .main-content .download-icon {
    box-sizing: border-box;
    width: 97px;
    height: 97px;
    margin: 0 auto;
    border: 4px solid #32343a;
    border-radius: 50%;
    text-align: center;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear; }
    .main-content .download-icon img {
      display: inline-block;
      width: 39px;
      height: 47px;
      margin-top: 24px;
      opacity: 1;
      -webkit-transition: all 0.15s linear;
      transition: all 0.15s linear; }

/* ==========================================================================
   Footer styles
   ========================================================================== */
body:after {
  display: none;
  content: url(../img/map.png) url(../img/phone.png); }

footer .contacts-list {
  width: 1060px;
  margin: 0 auto; }
  footer .contacts-list .contacts-item {
    box-sizing: border-box;
    width: 212px;
    float: left;
    cursor: pointer; }
    footer .contacts-list .contacts-item h3, footer .contacts-list .contacts-item p {
      color: #919396;
      -webkit-transition: all 0.2s linear;
      transition: all 0.2s linear; }
    footer .contacts-list .contacts-item.active h3, footer .contacts-list .contacts-item:hover h3 {
      color: white;
      -webkit-transition: all 0.2s linear;
      transition: all 0.2s linear; }
    footer .contacts-list .contacts-item.active p, footer .contacts-list .contacts-item:hover p {
      color: #bbbbbb;
      -webkit-transition: all 0.2s linear;
      transition: all 0.2s linear; }
    footer .contacts-list .contacts-item:hover p:nth-of-type(1) {
      background-image: url(../img/map-active.png);
      -webkit-transition: all 0.2s linear;
      transition: all 0.2s linear; }
    footer .contacts-list .contacts-item:hover p:nth-of-type(2) {
      background-image: url(../img/phone-active.png);
      -webkit-transition: all 0.2s linear;
      transition: all 0.2s linear; }
    footer .contacts-list .contacts-item h3 {
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 2px;
      margin-bottom: 16px; }
    footer .contacts-list .contacts-item p {
      font-family: Arial, sans-serif;
      font-size: 0.825em;
      letter-spacing: 0.05em;
      line-height: 1;
      margin-bottom: 16px;
      padding-left: 18px;
      background-repeat: no-repeat;
      background-position-y: 0px;
      padding-top: 5px; }
    footer .contacts-list .contacts-item p:nth-of-type(1) {
      background-image: url(../img/map.png);
      -webkit-transition: all 0.2s linear;
      transition: all 0.2s linear; }
    footer .contacts-list .contacts-item p:nth-of-type(2) {
      background-image: url(../img/phone.png);
      -webkit-transition: all 0.2s linear;
      transition: all 0.2s linear; }
footer .copyright {
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 3px; }
