// width values:
$max_width: 1920px;
$wrapper_width: 1143px;
$content_width: 983px;

$contact_item_width: $content_width / 5;

// color values:
$main_background: #23262c;
$primary_grey: #cbced4;
$secondary_grey: #919396;
$contacts_disabled: #919396;
$contacts_active_title: #fff;
$contacts_active_text: #bbbbbb;
$send_button_red: #e04241;
$send_button_text: #fff;
$download_link: $send_button_red;
$download_link_active: #fff;
$language_link: #363a42;
$language_link_active: $primary_grey;
$copyright: $primary_grey;

/* ==========================================================================
   Main styles
   ========================================================================== */

body {
	background-color: $main_background;
	color: $primary_grey;
}

h1, p, a {
	color: $primary_grey;
}

header {
	min-width: $wrapper_width;
	max-width: $max_width;

	div.logo-digius {
		float: left;

		img {
			display: block;
			width: 104px;
			height: 21px
		}
	}

	ul.select-lang {
		float: right;
		li {
			display: inline-block;
		}
	}
}

.main-content, footer {
	margin: 0 auto;
	width: $wrapper_width;
}

footer {
	.contacts-list .contacts-item {
		width: $contact_item_width;
		float: left;
	}

	.p.copyright {

	}
}
