@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic);
/* ==========================================================================
   Main styles
   ========================================================================== */
body {
  background-color: #23262c;
  font-family: 'PT Sans', sans-serif;
  color: #cbced4; }

h1, p, a {
  color: #cbced4; }

p {
  font-size: 18px;
  letter-spacing: 1px; }

a {
  text-decoration: none; }

/* ==========================================================================
   Header styles
   ========================================================================== */
header {
  min-width: 983px;
  max-width: 1920px;
  padding: 47px 0px; }
  header div.logo-digius {
    float: left; }
    header div.logo-digius img {
      display: block;
      width: 104px;
      height: 21px;
      margin-left: 40px; }

ul.select-lang {
  float: right;
  margin-right: 40px; }
  ul.select-lang li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold; }
    ul.select-lang li a {
      display: inline-block;
      color: #363a42;
      margin-left: 31px; }
      ul.select-lang li a:link, ul.select-lang li a:visited {
        color: #363a42; }
      ul.select-lang li a:hover, ul.select-lang li a:active {
        color: #cbced4; }
    ul.select-lang li.active a {
      color: #cbced4; }

/* ==========================================================================
   Main section styles
   ========================================================================== */
.main-content, footer {
  margin: 0 auto;
  width: 983px; }

.main-content {
  text-align: center; }
  .main-content h1 {
    margin-top: 116px;
    text-transform: uppercase;
    font-size: 32px;
    letter-spacing: 8px;
    font-weight: bold; }
  .main-content > p {
    margin-top: 35px;
    color: #919396; }
  .main-content .send-request-button {
    box-sizing: border-box;
    width: 236px;
    height: 51px;
    margin: 0 auto;
    margin-top: 17px; }
    .main-content .send-request-button a {
      text-align: center;
      display: table-cell;
      width: inherit;
      height: inherit;
      vertical-align: middle;
      text-align: center;
      background-color: #e04241;
      color: white;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: bold;
      letter-spacing: 2px; }
  .main-content .download-link {
    margin: 0 auto;
    margin-top: 69px;
    margin-bottom: 160px;
    width: 33%; }
    .main-content .download-link p {
      color: #e04241;
      margin-top: 19px; }
      .main-content .download-link p span {
        padding-bottom: 5px;
        border-bottom: 1px solid #e04241; }
  .main-content .download-icon {
    box-sizing: border-box;
    width: 97px;
    height: 97px;
    margin: 0 auto;
    border: 4px solid #32343b;
    border-radius: 50%;
    text-align: center; }
    .main-content .download-icon img {
      display: inline-block;
      width: 39px;
      height: 47px;
      margin-top: 24px; }

/* ==========================================================================
   Footer styles
   ========================================================================== */
footer .contacts-list {
  width: 983px;
  margin: 0 auto; }
footer .contacts-list .contacts-item {
  box-sizing: border-box;
  width: 196.6px;
  float: left; }
footer p.copyright {
  text-align: center; }
