// width values:
$max_width: 1920px;
$wrapper_width: 1143px;
$content_width: 983px;

$contact_item_width: $content_width / 5;

// color values:
$main_background: #23262c;
$primary_grey: #cbced4;
$secondary_grey: #919396;
$contacts_disabled: #919396;
$contacts_active_title: #fff;
$contacts_active_text: #bbbbbb;
$send_button_red: #e04241;
$send_button_text: #fff;
$download_link: $send_button_red;
$download_link_active: #fff;
$language_link: #363a42;
$language_link_active: $primary_grey;
$copyright: $primary_grey;

// import fonts (PT Sans)

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic);

/* ==========================================================================
   Main styles
   ========================================================================== */

body {
	background-color: $main_background;
	font-family: 'PT Sans', sans-serif;
	color: $primary_grey;
}

h1, p, a {
	color: $primary_grey;
}

a {
	text-decoration: none;
}

/* ==========================================================================
   Header styles
   ========================================================================== */

header {
	min-width: $content_width;
	max-width: $max_width;
	padding: 47px 0px;

	div.logo-digius {
		float: left;

		img {
			display: block;
			width: 104px;
			height: 21px;
			margin-left: 40px;
		}
	}

	ul.select-lang {
		float: right;
		margin-right: 40px;
		li {
			display: inline-block;
			text-transform: uppercase;
			font-size: 12px;
			font-weight: bold;
			a {
				display: inline-block;
				color: $language_link;
				margin-left: 31px;
				&:hover, &:active {
					color: $language_link_active;
				}
				&:hover {
					color: $language_link_active;
				}
			}

			&.active a {
				color: $language_link_active;
			}
		}
	}
}

/* ==========================================================================
   Main section styles
   ========================================================================== */

.main-content, footer {
	margin: 0 auto;
	width: $content_width;
}

.main-content {
	text-align: center;

	h1 {
		margin-top: 116px;
		text-transform: uppercase;
		font-size: 32px;
		letter-spacing: 8px;
		font-weight: bold;
	}

	> p {
		margin-top: 41px;
		color: $secondary_grey;
		font-size: 18px;
		letter-spacing: 1px;
	}

	.send-request-button {
		box-sizing: border-box;
		margin: 0 auto;
		text-align: center;

		a {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			width: 236px;
			height: 51px;
			background-color: $send_button_red;
			color: $send_button_text;
			text-transform: uppercase;
			font-size: 14px;
		}
	}
}

/* ==========================================================================
   Footer styles
   ========================================================================== */

footer {
	.contacts-list {
		width: $content_width;
		margin: 0 auto;
	}
	.contacts-list .contacts-item {
		box-sizing: border-box;
		width: $contact_item_width;
		float: left;
	}

	p.copyright {
		text-align: center;
	}
}
